body {
		background-color: #b5b5b5;
		font-family: helvetica;
		line-height: 130%;
		font-size: 11pt;
		color: #403e49;
		padding: 0px;
	}
	
	div#head {
		background-color: #e3d3d3;
		text-align: right;
		padding-top: 10px;
		padding-bottom: 2px;
		padding-right: 50px;
		font-size: 20pt;
		line-height: 0px;
	}
	
	div#foot {
		height: 50px;
		background-color: #7c3c3c;
	}
	
	div#colorbar {
		height: 6px;
		background-color: #7c3c3c;
		border-bottom-style: solid;
		border-bottom-width: 3px;
		border-bottom-color: #e3d3d3;
	}
	
	div.important {
		background-color: #e3d3d3;
		padding: 10px;
		margin: 10px;
	}
	
	div#contents {
		padding: 10px;
		margin: 40px;
		width: 150px;
		background-color: #e4e4e4;
	}
	
	div#description {
		padding-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		margin: 40px;
		position: absolute;
		left: 250px;
		background-color: #e4e4e4;
	}
	
	a:link {
		color: #aa1e1e;
		text-decoration: none;
	}
	
	a:hover {
		color: #aa1e1e;
		text-decoration: underline;
	}
	
	a:visited {
		color: #7c3c3c;
		text-decoration: none;
	}
	
	a:visited:hover {
		color: #7c3c3c;
		text-decoration: underline;
	}
	
	span.B {
		font-weight: bold;
	}
	
	span.I {
		font-style: italic;
	}
	
	
	div.headline {
		border-bottom-style: dotted;
		border-bottom-width: 2px;
		border-bottom-color: #7c3c3c;
	}
	
	div.dottedline {
		border-bottom-style: dotted;
		border-bottom-width: 2px;
		border-bottom-color: #7c3c3c;
	}
	
	h3 {
		font-size: 110%;
	}
	
	h2 {
		font-size: 180%;
	}
	
	div.content {
		color: black;
	}