body {
   color: black;
   background-color: gray;
   font-size: medium;
   font-family: Georgia, "Times New Roman", Times, serif;
   margin:0;
}
#header {
	height: 100px;
	background-color: #315784;
}
#header h1 {
   color:white;
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size:30px;
   font-weight:normal;
   padding:30px 0px 0px 290px;
   margin:0;
}
#sidenav, #narrative {
   float:left;
   width:280px;
	padding: 5px;
	background-color: transparent;
}
#sidenav {
	background-color: #315784;
   color:white;
   min-height:400px;
	font-family: Verdana, Geneva, Arial, sans-serif;
   font-size:1.1em;
}
#sidenav dl {
   margin-left:30px;
   margin-right:20px;
}
#sidenav dt {
   margin-top:1em;
}
#sidenav dl.closed dt:hover, dd.closed:hover {
   color:#68a0f4;
   cursor:pointer;
}
#sidenav dl.open dt:hover, dd.open:hover {
   color:#68a0f4;
   cursor:default;
}
#sidenav dd {
   margin-top:0.5em;
   margin-left:2em;
   font-size:80%;
}
#sidenav dl.open dd {
   display:block;
}
#sidenav dl.closed dd {
   display:none;
}
#sidenav dd.open {
   font-weight:bold;
}
#sidenav dd.closed {
   font-weight:normal;
}
.key {
   display:none;
}
#narrative {
   clear:left;
   margin-top:30px;
}
#narrative p {
	margin: .5em 50px .5em 1em;
	font-size: 80%;
}
#randomize {
   margin:0px 30px 20px .5em;
   padding:10px;
	font-family: Verdana, Geneva, Arial, sans-serif;
   background-color:#a0a0a0;
   cursor:pointer;
   text-align:center;
}
#footer {
   width:220px;
   color:#a0a0a0;
   clear:both;
   text-align:left;
   padding: 20px;
	font-family: Verdana, Geneva, Arial, sans-serif;
   min-height:40px;
}
#frame {
   background-color:transparent;
   border:thick #a0a0a0 dotted;
   border-right:none;
   position:absolute;
   top:80px;
   left:270px;
   min-width:1500px;
   margin-bottom:20px;
}
#frame img.selected {
   cursor:auto;
}
#frame img.unselected {
   cursor:pointer;
}
.imageset {
   background-color:gray;
   position:relative;
   margin:20px 0px 20px 20px;
}
.activeimgs {
   display:block;
}
.inactiveimgs {
   display:none;
}
.thumbs img {
   margin:15px;
}
.preview img {
   margin:15px;
   border:none;
}

